<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blog</title>
  <link rel="stylesheet" href="{{ absurl "css/blog.css" }}">

</head>
<body>
<div class="header" style="width:900px; margin: 0 auto;">
  <a href="{{ absurl "/" }}">des.io</a>
</div>
<div style="width:900px; margin: 0 auto;">
{{.Doc.Content}}
</div>
<script src="{{ absurl "js/blog.js" }}"></script>

</body>
</html>
