<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blog</title>

  <link rel="stylesheet" href="/css/blog.css">
</head>
<body>

<div style="width:900px; margin: 0 auto;">
{{.Content}}
</div>

<script src="/js/blog.js"></script>
</body>
</html>
