<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blog</title>
  <link rel="stylesheet" href="{{ absurl "css/blog.css" }}">

</head>
<body>
<div class="header">
  <div class="container">
    <a href="{{ absurl "/" }}">des.io</a>
  </div>
</div>

<div class="content">
  <div class="container">
    {{.Doc.Content}}
  </div>
</div>

<div class="footer">
  <div class="container">
    <a href="https://github.com/desicochrane">github</a>
  </div>
</div>

<script src="{{ absurl "js/blog.js" }}"></script>
</body>
</html>
