<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Posts</title>
  {{/*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.8.3/katex.min.css">*/}}

</head>
<body>
{{.Doc.Content}}
</body>
</html>
