@import "../../node_modules/katex/dist/katex.css";

@font-face {
  font-family: cmunrm;
  src: url('../fonts/cmunrm.ttf') format('truetype');
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Source Code Pro";
  src: url('../fonts/SourceCodePro-Regular.ttf') format('truetype');
}

html, body {
  font-family: cmunrm, serif;
  line-height: 1.8;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

h3 {
  margin-top: 50px;
  margin-bottom: 10px;
}

blockquote {
  border-left: 4px solid #FFA505;
  margin: 30px 0 30px 5px;
  padding-left: 30px;
}

.katex-display {
  margin: 30px;
}

.katex {
  font-size: 1em;
}

code {
  font-family: "Source Code Pro", monospace;
  font-size: 0.89em;
  background: #f9f9f9;
  display: inline-block;
  padding: 0 5px;
  border-radius: 5px;
}

.chroma {
  margin: 40px 10px;
  border-radius: 2px;
  background: #f9f9f9;
  line-height: 22px;
  font-size: 14px;
  padding: 30px;
  font-family: "Source Code Pro", monospace;

  .ln {
    color: #534f4e;
    padding: 0 20px 0px 10px;
  }

  .kd, .k, .kn {
    color: #AB0D8F;
  }

  .nx, .nb {
    color: #1A1BA8;
  }

  .mi {
    color: #1B01D2;
  }

  .p {
    color: #333;
  }

  .c1 {
    color: #6A737C;
  }

  .o {
    color: #984500;
  }

  .kt {
    color: #F84B2B;
  }

  .s, .s2 {
    color: #C61816;
  }
}

.container {
  width: 900px;
  margin: 0 auto;
}

$table-margin: 1.667em 0 1em;
$table-cell-padding: 0.333em;
$table-border: 0.5px solid #000;
table {
  border-collapse: collapse;
  counter-increment: table;
  margin: 10px auto 30px;
  width: 100%;
}

th,
td {
  border: $table-border;
  padding: $table-cell-padding;
  text-align: center;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.content {
  padding-bottom: 150px;
}

.header {
  padding-top: 10px;
}

.footer {
  background: #2E2E2E;
  font-size: 14px;
  padding: 50px 0 100px;
  color: #acacac;

  a {
    color: #acacac;
  }
}
