<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>des.io | Blog</title>
  <style>
  </style>
  <link rel="stylesheet" href="{{ absurl "css/blog.css" }}">
  <link rel="icon" href="{{ absurl "favicon.ico" }}">
</head>
<body>
<div class="container">
  <h1>des.io</h1>

  {{if len .Blog.Posts }}<h3>Posts:</h3>{{end}}
  {{ range .Blog.Posts }}
  <li>
    <a href="{{ absurl .URL }}">
      {{ fdate .FrontMatter.Date "02-Jan-2006"}} - {{ .FrontMatter.Title }}
    </a>
  </li>
  {{ end }}
</div>
<script src="js/blog.js"></script>
</body>
</html>
