<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blog</title>
  <style>
  </style>
  <link rel="stylesheet" href="{{ absurl "css/blog.css" }}">
</head>
<body>
<div class="container">
  <h1>des.io</h1>

{{ range .Blog.Posts }}
  <li><a href="{{ absurl .URL }}">
  {{ fdate .FrontMatter.Date "02-Jan-2006"}} - {{ .FrontMatter.Title }}
  </a></li>
{{ end }}

</div>
<script src="js/blog.js"></script>
</body>
</html>
