<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blog</title>
  <style>
  </style>
  <link rel="stylesheet" href="css/blog.css">
</head>
<body>
<div class="container">
  <h1>des.io</h1>

  <p>This is some fancy computer font</p>

{{ range .Posts }}
  <li><a href="posts/{{ .DestPath }}">
  {{ fdate .Date "Jan 2, 2006" }} - {{ .Title }}
  </a></li>
{{ end }}

</div>
<script src="js/blog.js"></script>
</body>
</html>
